@use '../setting' as *;

.top-section {

  &__title-wrapper{
    position: relative;
    z-index: 1;
  }

  &__title-text{
    position: relative;
    z-index: 1;

    svg{
      max-width: none;
    }

    &--kv{
      top: 4px;
      left: 4px;

      @include mq(md){
        top: 9px;
        left: 10px;
      }
    }

    &--product{
      top: 3px;
      left: 4px;

      @include mq(md){
        top: 9px;
        left: 9px;
      }
    }

    &--about{
      top: 3px;
      left: 4px;

      @include mq(md){
        top: 8px;
        left: 8px;
      }
    }

    &--sustainability{
      top: 3px;
      left: 5px;

      @include mq(md){
        top: 10px;
        left: 10px;
      }
    }

    &--customer{
      top: 2px;
      left: 5px;

      @include mq(md){
        top: 9px;
        left: 10px;
      }
    }

    &--news{
      top: 3px;
      left: 5px;

      @include mq(md){
        top: 10px;
        left: 11px;
      }
    }

    &--media{
      top: 3px;
      left: 5px;

      @include mq(md){
        top: 10px;
        left: 11px;
      }
    }
  }

  &__title-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    svg{
      max-width: none;
    }

    // Hide initially when data-inview is set
    &[data-inview] svg{
      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
  }

  // &__title-text{
  //   --title-bg-width: 0%;
  //   --title-bg-color: var(--color-orange);
  //   --title-text-color: var(--color-white);

  //   padding: 0 5px;
  //   font-size: 20px;
  //   color: var(--title-text-color);
  //   font-family: $font-family-helvetica;
  //   line-height: 1.15;
  //   font-weight: 700;
  //   display: inline-block;
  //   text-transform: uppercase;
  //   white-space: nowrap;
  //   position: relative;
  //   z-index: 1;
  //   background-color: transparent;
  //   transition: color 0.3s 0.8s ease-in-out;

  //   @include mq(md){
  //     padding: 0 7px;
  //     font-size: vw-max(40, 1000);
  //   }

  //   &::before{
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     z-index: -1;
  //     width: var(--title-bg-width);
  //     background-color: var(--title-bg-color);
  //   }

  //   &--kv{
  //     font-size: 32px;

  //     @include mq(md){
  //       font-size: vw-max(40, 1000);
  //     }
  //   }
  // }

  &__text-wrapper{
    transition: color 0.3s 0.8s ease-in-out;
  }

  &__contents-title{
    font-size: 14px;
    font-weight: 500;

    @include mq(md){
      font-size: 16px;
      line-height: 2;
    }
  }

  &__contents-text{
    margin-top: 7px;
    font-size: 12px;
    line-height: 1.5;
    font-feature-settings: "palt";

    @include mq(md){
      margin-top: 10px;
      font-size: 16px;
    }
  }

  &__contents-link{
    margin-top: 24px;
    display: flex;
    gap: 3px;
    align-items: center;

    @include mq(md){
      gap: 5px;
    }
  }

  &__contents-link-text{
    font-size: 12px;
    font-weight: 500;
    position: relative;

    @include mq(md){
      font-size: 16px;
    }

    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-black);
      transition: background-color 0.3s 0.8s ease-in-out;
    }
  }

  &__contents-link-icon-wrapper{
    width: 16px;

    @include mq(md){
      width: 24px;
    }
  }

  &__contents-link-icon{
    svg{
      path{
        transition: fill 0.3s 0.8s ease-in-out;
      }
    }

    &--sp{
      display: block;

      @include mq(md){
        display: none;
      }
    }
    &--pc{
      display: none;

      @include mq(md){
        display: block;
      }
    }
  }
}

[data-text-color="white"]{
  .top-section__text-wrapper{
    color: var(--color-white);

    .top-section__contents-link-text{
      &::after{
        background-color: var(--color-white);
      }
    }
  }

  .top-section__contents-link-icon{
    svg{
      path{
        fill: var(--color-white);
      }
    }
  }
}
