@use '../setting' as *;

.wave {
  &__sp{
    display: block;
    @include mq(md){
      display: none;
    }
  }

  &__pc{
    display: none;
    @include mq(md){
      display: block;
    }
  }

  svg{
    width: 100%;
    display: block;
  }
}
