@use '../setting' as *;

.top-kv{
  position: relative;
  padding: 0 20px 38px;

  @include mq(md){
    padding: 0 20px 38px;
  }

  &__wave{
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-pink);
    z-index: 0;
  }

  &__inner{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    @include mq(md){
      padding-right: vw-max(24, 1200);
    }
  }

  &__message-bg{
    // width: 218px;
    position: absolute;
    top: 0;
    left: 0;

    @include mq(md){
      // width: 610px;
    }
  }

  &__message-wrapper{
    position: absolute;
    bottom: 5px;
    left: 5px;

    @include mq(md){
      bottom: 10px;
      left: 10px;
    }
  }
  
  &__message{
    width: 208px;

    @include mq(md){
      width: 588px;
    }
  }

  &__message-img{
    mix-blend-mode: screen;
  }

  &__icon{
    position: absolute;
    bottom: 20px;
    right: -10px;
    width: 81px;

    @include mq(md){
      bottom: 40px;
      right: max(-40px, vw(-10, 768));
      width: 150px;
    }
  }

  &__nav{
    display: none;

    @include mq(md){
      display: block;
      margin-top: 40px;
    }
  }

  &__nav-list{
    display: flex;
    justify-content: center;
    gap: vw-max(120);
  }

  &__nav-item{
    &:last-of-type{
      margin-left: vw-max(40);

      .header__nav-link{
        &::after{
          display: none;
        }
      }
    }
  }

  &__nav-link{
    position: relative;

    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--color-white);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &--lang{
      display: flex;
    }
  }

  &__nav-link-text{
    font-size: 14px;
    color: var(--color-white);
    font-weight: 700;
    transition: color 0.4s ease-in-out;

    &--lang{
      &:not(:first-of-type){
        &::before{
          content: '|';
          margin: 0 0.3em;
        }
      }
    }
  }
}

// Text color change based on parent data-attribute
.top-kv[data-text-color="white"] {
  .top-kv__nav-link-text {
    color: var(--color-white);
  }
  .top-kv__nav-link::after {
    background-color: var(--color-white);
  }
}
.top-kv[data-text-color="black"] {
  .top-kv__nav-link-text {
    color: var(--color-black);
  }
  .top-kv__nav-link::after {
    background-color: var(--color-black);
  }
}

.top-kv__wave {
    .js-color-fill {
        fill: var(--color-pink);
  }
}

