// ==========================================================================
// Variables
// ==========================================================================

// カラー
// --------------------------------------------------------------------------
:root {
  --color-red: #E52600;
  --color-orange: #FFC194;
  --color-yellow: #7B7B00;
  --color-green: #6EFF6E;
  --color-sky: #E0FAFF;
  --color-blue: #1A1C40;
  --color-purple: #FFE5FB;
  --color-pink: #FF4D88;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-footer-gray: #F2F2F2;
  --color-text-gray: #333333;
  --color-bg-gray: #F5F5F5;
  --color-nav-black: #2E2E2E;
  --color-footer-gray: #F2F2F2;
}

// フォント
// --------------------------------------------------------------------------
// フォントファミリー
$font-family-noto-sans-jp: "Noto Sans JP", sans-serif;
$font-family-helvetica: "Helvetica", "Helvetica Neue", "Noto Sans JP",  sans-serif;

// レイアウト
// --------------------------------------------------------------------------
// コンテナ
$contents-width: 1440px;

// ブレイクポイント
// --------------------------------------------------------------------------
$breakpoints: (
  'xs': 400px,       // Extra small (モバイル)
  'sm': 576px,   // Small (大型スマートフォン)
  'md': 768px,   // Medium (タブレット)
  'lg': 992px,   // Large (小型デスクトップ)
  'xl': 1200px,  // Extra large (中型デスクトップ)
  'xxl': 1440px  // Extra extra large (大型デスクトップ)
);
